[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
	branch = v2.4.0
[submodule "third_party/perftest"]
	path = third_party/perftest
	url = https://github.com/linux-rdma/perftest.git
