# Copyright (c) Microsoft Corporation.
# Licensed under the MIT license.

trigger:
  - main

pool:
  name: SuperBench CI
  vmImage: ubuntu-latest

container:
  image: nvcr.io/nvidia/pytorch:20.12-py3

steps:
  - script: |
      echo "##vso[task.prependpath]$HOME/.local/bin"
    displayName: Export path
  - script: |
      python3 -m pip install .[test,torch]
      ansible-galaxy collection install ansible.utils community.crypto
    displayName: Install dependencies
  - script: |
      SB_MICRO_PATH=$PWD/bin make cppbuild
    displayName: Build benchmarks
  - script: |
      python3 setup.py lint
    displayName: Run code lint
  - script: |
      SB_MICRO_PATH=$PWD/bin python3 setup.py test
    displayName: Run unit tests
    timeoutInMinutes: 10
  - script: |
      bash <(curl -s https://codecov.io/bash) -cF cuda-unit-test
    displayName: Report coverage results
    env:
      CODECOV_TOKEN: $(codecovToken)
