name: Build Image

on:
  push:
    branches:
    - main
    - release/*
  pull_request:
    branches:
    - main
    - release/*
  release:
    types:
    - published
  workflow_dispatch:

jobs:
  docker:
    name: Docker build ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 600
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
        - name: cuda12.4
          dockerfile: cuda12.4
          tags: superbench/main:cuda12.4
          runner: [self-hosted, rocm-build]
          build_args: "NUM_MAKE_JOBS=32"
        - name: cuda12.2
          dockerfile: cuda12.2
          tags: superbench/main:cuda12.2
          runner: [self-hosted, rocm-build]
          build_args: "NUM_MAKE_JOBS=64"
        - name: cuda11.1.1
          dockerfile: cuda11.1.1
          tags: superbench/main:cuda11.1.1,superbench/superbench:latest
          runner: ubuntu-latest
          build_args: "NUM_MAKE_JOBS=8"
        - name: rocm5.7
          dockerfile: rocm5.7.x
          tags: superbench/main:rocm5.7
          runner: [self-hosted, rocm-build]
          build_args: "NUM_MAKE_JOBS=64"
        - name: rocm6.0
          dockerfile: rocm6.0.x
          tags: superbench/main:rocm6.0
          runner: [self-hosted, rocm-build]
          build_args: "NUM_MAKE_JOBS=64"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Free disk space
        run: |
          mkdir -p /tmp/emptydir
          for dir in /usr/share/swift /usr/share/dotnet /usr/local/share/powershell /usr/local/share/chromium /usr/local/lib/android /opt/ghc; do
            sudo rsync -a --delete /tmp/emptydir/ ${dir}
          done
          sudo apt-get clean
          # Check if Docker images exist before trying to remove them
          if sudo docker images -q --filter=reference="node" --filter=reference="buildpack-deps" | grep -q .; then
            sudo docker rmi $(sudo docker images --format "{{.Repository}}:{{.Tag}}" --filter=reference="node" --filter=reference="buildpack-deps")
          else
            echo "No Docker images found with the specified references."
          fi
          df -h
      - name: Prepare metadata
        id: metadata
        run: |
          TAGS=${{ matrix.tags }}
          if [[ "${{ github.event_name }}" == "push" ]] && [[ "${{ github.ref }}" == "refs/heads/release/"* ]]; then
            TAGS=$(sed "s/main:/release:${GITHUB_REF##*/}-/g" <<< ${TAGS})
          fi
          if [[ "${{ github.event_name }}" == "pull_request" ]] && [[ "${{ github.base_ref }}" == "release/"* ]]; then
            TAGS=$(sed "s/main:/release:${GITHUB_BASE_REF##*/}-/g" <<< ${TAGS})
          fi
          if [[ "${{ github.event_name }}" == "release" ]]; then
            TAGS=$(sed "s/main:/superbench:${GITHUB_REF##*/}-/g" <<< ${TAGS})
            GHCR_TAG=$(cut -d, -f1 <<< ${TAGS} | sed "s#superbench/superbench#ghcr.io/${{ github.repository }}/superbench#g")
            TAGS="${TAGS},${GHCR_TAG}"
          fi
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            TAGS=$(sed "s/main:/dev:/g" <<< ${TAGS})
          fi
          DOCKERFILE=dockerfile/${{ matrix.dockerfile }}.dockerfile

          BUILD_ARGS=${{ matrix.build_args }}
          if [[ "${{ matrix.extra_args }}" ]]; then
            BUILD_ARGS="${BUILD_ARGS} ${{ matrix.extra_args }}"
          fi
          BUILD_ARGS="${BUILD_ARGS// /'%0A'}"

          CACHE_FROM="type=registry,ref=$(cut -d, -f1 <<< ${TAGS})"
          CACHE_TO=""
          if [[ "${{ github.event_name }}" != "pull_request" ]]; then
            CACHE_TO="type=inline,mode=max"
          fi

          echo "dockerfile=${DOCKERFILE}" >> "$GITHUB_OUTPUT"
          echo "build_args=${BUILD_ARGS}" >> "$GITHUB_OUTPUT"
          echo "tags=${TAGS}" >> "$GITHUB_OUTPUT"
          echo "cache_from=${CACHE_FROM}" >> "$GITHUB_OUTPUT"
          echo "cache_to=${CACHE_TO}" >> "$GITHUB_OUTPUT"
      - name: Echo build args
        run: echo ${{ steps.metadata.outputs.build_args }}
      - name: Echo image tag
        run: echo ${{ steps.metadata.outputs.tags }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        if: ${{ github.event_name != 'pull_request' }}
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Pull cache image
        run: sudo docker pull ${{ steps.metadata.outputs.tags }}
        continue-on-error: true
      - name: Login to the GitHub Container Registry
        uses: docker/login-action@v1
        if: ${{ github.event_name == 'release' }}
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64
          context: .
          file: ${{ steps.metadata.outputs.dockerfile }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.metadata.outputs.tags }}
          cache-from: ${{ steps.metadata.outputs.cache_from }}
          cache-to: ${{ steps.metadata.outputs.cache_to }}
          build-args: |
            ${{ steps.metadata.outputs.build_args }}
          labels: |
            org.opencontainers.image.source=${{ github.event.repository.html_url }}
            org.opencontainers.image.created=${{ github.event.repository.pushed_at }}
            org.opencontainers.image.revision=${{ github.sha }}
      - name: Echo image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
