name: Lint

on:
  pull_request:
    branches:
    - main
    - release/*

jobs:
  spelling:
    name: Spelling check
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        curl -L https://git.io/misspell | sudo bash -s -- -b /bin
    - name: Check spelling
      run: |
        misspell -error .
  cpp:
    name: CPP code lint
    runs-on: ubuntu-latest
    steps:
    - name: Install clang-format-14
      run: |
        sudo apt-get update
        sudo apt-get install -y clang-format-14
        sudo rm -f /usr/bin/clang-format
        sudo ln -s /usr/bin/clang-format-14 /usr/bin/clang-format
    - name: Checkout
      uses: actions/checkout@v2
    - name: Echo clang-format version
      run: |
        clang-format --version
    - name: Lint
      run: |
        make cpplint
